<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "config/dtd/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">

	<!--  les differents levels sont all|debug|info|warn|error|fatal|off|trace -->
	
    <appender name="std-out" class="org.apache.log4j.ConsoleAppender"> 
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%X{codeapp} %d{yyyy-MM-dd HH:mm:ss, SSS} %-5p [%c{1}] : %m%n"/> 
        </layout>
    </appender> 

    <appender name="file-out" class="org.apache.log4j.RollingFileAppender"> 
        <param name="file" value="sourceforge-eep.log"/> 
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="[%X{idreq} %X{iduser} %X{codeenv}] %d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{1}] : %m%n"/>
        </layout>
	</appender>
    
    <root> 
        <priority value ="debug" />
        <appender-ref ref="std-out" />
		<!-- <appender-ref ref="file-out" /> -->
    </root>

</log4j:configuration>
